In [5]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [9]:
data = pd.read_excel('Data/2018-Housing-Inventory-Count-Raw-File.xlsx', shee_tname='HIC_RawData2018')

print("Column headings:")
print(data.columns)

Column headings:
Index(['Row #', 'CocState', 'CoC', 'Coc\ID', 'HudNum', 'Status', 'year',
       'Organization ID', 'Organization Name', 'Project ID', 'Project Name',
       'Project Type', 'Bed Type', 'Geo Code', 'Inventory Type',
       'beginsOperationsWithinYear', 'Target Population A',
       'Target Population B', 'Mc Kinney-Vento', 'mcKinneyVentoEsg',
       'mcKinneyVentoEsgEs', 'mcKinneyVentoEsgRrh', 'mcKinneyVentoCoc',
       'mcKinneyVentoCocSh', 'mcKinneyVentoCocTh', 'mcKinneyVentoCocPsh',
       'mcKinneyVentoCocRrh', 'mcKinneyVentoCocSro', 'mcKinneyVentoSpC',
       'mcKinneyVentoS8', 'mcKinneyVentoShp', 'federalFunding',
       'federalFundingVash', 'federalFundingSsvf', 'federalFundingGpd',
       'federalFundingGpdBh', 'federalFundingGpdLd', 'federalFundingGpdHh',
       'federalFundingGpdCt', 'federalFundingGpdSith', 'federalFundingGpdTp',
       'federalFundingHchv', 'federalFundingHchvCrs', 'federalFundingHchvSh',
       'federalFundingCwt', 'federalFundingBcp', 'federalFundingTlp',
       'federalFundingMgh', 'federalFundingRhyDp', 'federalFundingHopwa',
       'federalFundingHopwaHmv', 'federalFundingHopwaPh',
       'federalFundingHopwaStsf', 'federalFundingHopwaTh', 'federalFundingPih',
       'federalFundingOther', 'federalFundingOtherSpecify', 'housingType',
       'Victim Service Provider', 'address1', 'address2', 'city', 'state',
       'zip', 'Beds HH w/ Children', 'Units HH w/ Children',
       'HMIS Beds HH w/ Children', 'Veteran Beds HH w/ Children',
       'Youth Beds HH w/ Children', 'CH Beds HH w/ Children',
       'Beds HH w/o Children', 'HMIS Beds HH w/o Children',
       'Veteran Beds HH w/o Children', 'Youth Beds HH w/o Children',
       'CH Beds HH w/o Children', 'Beds HH w/ only Children',
       'HMIS Beds HH w/ only Children', 'CH Beds HH w only Children',
       'Year-Round Beds', 'DV Beds', 'Total Seasonal Beds',
       'Seasonal Beds Available in HMIS', 'Availability Start Date',
       'Availability End Date', 'O/V Beds', 'HMIS O/V Beds', 'PIT Count',
       'Total Beds', 'Updated On', 'mergedDefunctYear',
       'questionUsesDescriptorElements',
       'questionDesiresToUseDescriptorElements', 'notes', 'projectNotes',
       'sandyRelated', 'sandyRelatedNote'],
      dtype='object')

In [10]:
data.head()

,Row #,CocState,CoC,Coc\ID,HudNum,Status,year,Organization ID,Organization Name,Project ID,...,PIT Count,Total Beds,Updated On,mergedDefunctYear,questionUsesDescriptorElements,questionDesiresToUseDescriptorElements,notes,projectNotes,sandyRelated,sandyRelatedNote
0,336611,AR,"Boone, Baxter, Marion, Newton Counties CoC",1493,AR-512,Submitted,2018,12792,Sanctuary Inc.,28012,...,5.0,16,2018-04-16 10:38:49,NaN,0,0.0,NaN,NaN,0.0,NaN
1,336610,AR,"Boone, Baxter, Marion, Newton Counties CoC",1493,AR-512,Submitted,2018,12791,Serenity Inc,28011,...,13.0,30,2018-04-16 10:26:45,NaN,0,0.0,NaN,NaN,0.0,NaN
2,318804,OH,"Akron, Barberton/Summit County CoC",1350,OH-506,Submitted,2018,495,Battered Women's Shelter,3313,...,49.0,68,2018-04-30 17:49:59,NaN,0,1.0,NaN,NaN,0.0,NaN
3,318805,OH,"Akron, Barberton/Summit County CoC",1350,OH-506,Submitted,2018,495,Battered Women's Shelter,11648,...,43.0,68,2018-04-30 17:51:21,NaN,0,1.0,NaN,NaN,0.0,NaN
4,318813,OH,"Akron, Barberton/Summit County CoC",1350,OH-506,Submitted,2018,495,Battered Women's Shelter,26680,...,95.0,95,2018-04-26 12:39:18,NaN,0,1.0,NaN,NaN,0.0,NaN

In [15]:
hic_df = data [["CocState",'HudNum',"CoC","Total Beds"]]
hic_df

,CocState,HudNum,CoC,Total Beds
0,AR,AR-512,"Boone, Baxter, Marion, Newton Counties CoC",16
1,AR,AR-512,"Boone, Baxter, Marion, Newton Counties CoC",30
2,OH,OH-506,"Akron, Barberton/Summit County CoC",68
3,OH,OH-506,"Akron, Barberton/Summit County CoC",68
4,OH,OH-506,"Akron, Barberton/Summit County CoC",95
...,...,...,...,...
24630,WY,WY-500,Wyoming Statewide CoC,44
24631,WY,WY-500,Wyoming Statewide CoC,13
24632,WY,WY-500,Wyoming Statewide CoC,1
24633,WY,WY-500,Wyoming Statewide CoC,1
24634,WY,WY-500,Wyoming Statewide CoC,10

In [17]:
#California Housing Inventory Count.
ca_data=hic_df.loc[hic_df["CocState"] == "CA"]
ca_data

,CocState,HudNum,CoC,Total Beds
73,CA,CA-530,"Alpine, Inyo, Mono Counties CoC",10
74,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties...",8
75,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties...",4
76,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties...",37
77,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties...",12
...,...,...,...,...
7494,CA,CA-524,Yuba City & County/Sutter County CoC,30
7495,CA,CA-524,Yuba City & County/Sutter County CoC,40
7496,CA,CA-524,Yuba City & County/Sutter County CoC,14
7497,CA,CA-524,Yuba City & County/Sutter County CoC,112
7498,CA,CA-524,Yuba City & County/Sutter County CoC,14

In [24]:
ca_data["CoC"] = ca_data["CoC"].str.replace(" CoC","")
ca_data

/Users/rubenbenitez/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,CocState,HudNum,CoC,Total Beds
73,CA,CA-530,"Alpine, Inyo, Mono Counties",10
74,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties",8
75,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties",4
76,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties",37
77,CA,CA-526,"Amador, Calaveras, Mariposa, Tuolumne Counties",12
...,...,...,...,...
7494,CA,CA-524,Yuba City & County/Sutter County,30
7495,CA,CA-524,Yuba City & County/Sutter County,40
7496,CA,CA-524,Yuba City & County/Sutter County,14
7497,CA,CA-524,Yuba City & County/Sutter County,112
7498,CA,CA-524,Yuba City & County/Sutter County,14

In [28]:
ca_data1 = ca_data.sort_values(by='HudNum', ascending=True)
ca_data1

     CocState  HudNum                                 CoC  Total Beds
6953       CA  CA-500  San Jose/Santa Clara City & County          55
6849       CA  CA-500  San Jose/Santa Clara City & County          13
6848       CA  CA-500  San Jose/Santa Clara City & County          10
6847       CA  CA-500  San Jose/Santa Clara City & County           8
6846       CA  CA-500  San Jose/Santa Clara City & County          10
...       ...     ...                                 ...         ...
6981       CA  CA-614              San Luis Obispo County          35
6982       CA  CA-614              San Luis Obispo County           6
6983       CA  CA-614              San Luis Obispo County          20
6974       CA  CA-614              San Luis Obispo County          50
3126       CA  CA-614              San Luis Obispo County          16

[2976 rows x 4 columns]

In [36]:
ca_data1["CoC"] = ca_data["CoC"].str.replace("City & County","")
ca_data1

     CocState  HudNum                     CoC  Total Beds
6953       CA  CA-500   San Jose/Santa Clara           55
6849       CA  CA-500   San Jose/Santa Clara           13
6848       CA  CA-500   San Jose/Santa Clara           10
6847       CA  CA-500   San Jose/Santa Clara            8
6846       CA  CA-500   San Jose/Santa Clara           10
...       ...     ...                     ...         ...
6981       CA  CA-614  San Luis Obispo County          35
6982       CA  CA-614  San Luis Obispo County           6
6983       CA  CA-614  San Luis Obispo County          20
6974       CA  CA-614  San Luis Obispo County          50
3126       CA  CA-614  San Luis Obispo County          16

[2976 rows x 4 columns]

In [55]:
ca_data2 = ca_data1.rename(columns={
    "HudNum": "coc_number"})
ca_data2.head()

     CocState coc_number                    CoC  Total Beds
6953       CA     CA-500  San Jose/Santa Clara           55
6849       CA     CA-500  San Jose/Santa Clara           13
6848       CA     CA-500  San Jose/Santa Clara           10
6847       CA     CA-500  San Jose/Santa Clara            8
6846       CA     CA-500  San Jose/Santa Clara           10

In [58]:
ca_data3 = ca_data2.groupby(['coc_number']).sum()
ca_data3.

            Total Beds
coc_number
CA-500            7773
CA-501           13436
CA-502            5492
CA-503            5914
CA-504            2733
CA-505            2124
CA-506            1454
CA-507            1123
CA-508            1438
CA-509             502
CA-510            1465
CA-511            2401
CA-512            2047
CA-513             910
CA-514            2451
CA-515            1061
CA-516             770
CA-517             308
CA-518             801
CA-519             936
CA-520             370
CA-521             506
CA-522             481
CA-523             164
CA-524             503
CA-525             312
CA-526             339
CA-527             153
CA-529              77
CA-530              11
CA-600           43670
CA-601           11235
CA-602            6334
CA-603            2324
CA-604            3611
CA-606            2956
CA-607             837
CA-608            2914
CA-609            3895
CA-611            1805
CA-612             234
CA-613             300
CA-614             729

In [51]:
ca_data2.to_csv('California Housing.csv')