In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
from scipy.stats import sem
import os

In [5]:
county_pop_df = pd.read_excel('Data\population_by_jurisdiction_and_by_county_-_1970_to_2018_-_09-07-2018.xlsx', sheet_name='Population by County')
county_pop_df

         County  Year  Population
0       Alameda  1970     1071446
1        Alpine  1970         484
2        Amador  1970       11821
3         Butte  1970      101969
4     Calaveras  1970       13585
...         ...   ...         ...
2837     Tulare  2018      475834
2838   Tuolumne  2018       54740
2839    Ventura  2018      859073
2840       Yolo  2018      221270
2841       Yuba  2018       74727

[2842 rows x 3 columns]

In [13]:
is_2018 =  county_pop_df['Year']==2018
print(is_2018.head())
pop_2018 = county_pop_df[is_2018]
print(pop_2018)

0    False
1    False
2    False
3    False
4    False
Name: Year, dtype: bool
               County  Year  Population
2784          Alameda  2018     1660202
2785           Alpine  2018        1154
2786           Amador  2018       38094
2787            Butte  2018      227621
2788        Calaveras  2018       45157
2789           Colusa  2018       22098
2790     Contra Costa  2018     1149363
2791        Del Norte  2018       27221
2792        El Dorado  2018      188399
2793           Fresno  2018     1007229
2794            Glenn  2018       28796
2795         Humboldt  2018      136002
2796         Imperial  2018      190624
2797             Inyo  2018       18577
2798             Kern  2018      905801
2799            Kings  2018      151662
2800             Lake  2018       65081
2801           Lassen  2018       30911
2802      Los Angeles  2018    10283729
2803           Madera  2018      158894
2804            Marin  2018      263886
2805         Mariposa  2018       18129
2806        Mendocino  2018       89299
2807           Merced  2018      279977
2808            Modoc  2018        9612
2809             Mono  2018       13822
2810         Monterey  2018      443281
2811             Napa  2018      141294
2812           Nevada  2018       99155
2813           Orange  2018     3284468
2814           Placer  2018      389532
2815           Plumas  2018       19773
2816        Riverside  2018     2415955
2817       Sacramento  2018     1529501
2818       San Benito  2018       57088
2819   San Bernardino  2018     2174938
2820        San Diego  2018     3337456
2821    San Francisco  2018      883963
2822      San Joaquin  2018      758744
2823  San Luis Obispo  2018      280101
2824        San Mateo  2018      774155
2825    Santa Barbara  2018      453457
2826      Santa Clara  2018     1956598
2827       Santa Cruz  2018      276864
2828           Shasta  2018      178271
2829           Sierra  2018        3207
2830         Siskiyou  2018       44612
2831           Solano  2018      439793
2832           Sonoma  2018      503332
2833       Stanislaus  2018      555624
2834           Sutter  2018       97238
2835           Tehama  2018       64039
2836          Trinity  2018       13635
2837           Tulare  2018      475834
2838         Tuolumne  2018       54740
2839          Ventura  2018      859073
2840             Yolo  2018      221270
2841             Yuba  2018       74727

In [24]:
pop_2018.count()

County        58
Year          58
Population    58
dtype: int64